.ant-select {
  border-radius: 5px !important;
}

.ant-tag-checkable-checked {
  background-color: #0450b1 !important;
}

.ant-typography ul li,
.ant-typography ol li {
  margin: 0 !important;
}

p {
  margin-bottom: 0 !important;
}
